@font-face {
    font-family: 'Ibarra';
    src: url('/static/fonts/Ibarra/IbarraRealNova-Regular.ttf');
}

@font-face {
    font-family: 'Pacifico';
    src: url('/static/fonts/Pacifico/Pacifico-Regular.ttf');
}

.centered {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.head {
    font-family: 'Ibarra', sans-serif;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}