



{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> TapSearch - A Simpler way to Search in Documents</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- ======================================================================== -->
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#ff7a5b">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#ff7a5b">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#ff7a5b">
        <!-- ============================================================================ -->
        <link rel="icon" type="image/png" href="https://s3-ap-southeast-1.amazonaws.com/tapchief-production/Misc/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome/css/all.min.css' %}">
        <script type="text/javascript" src="{% static 'fontawesome/js/all.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jQuery/jQuery.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- ======================================================================== -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/TapSearch/style.css' %}">
        <!-- ======================================================================== -->
        {% block customcss %}


        {% endblock %}
    </head>
    <body>
        <!-- ============================NavBar======================== -->

        <a href="/" class="home_anch">
        <div class="container-fluid centered">
            <div class="row">
                <img src="{% static 'img/logo.png' %}" class="logo">
                <h4 class="head">TapSearch</h4>
            </div>
        </div>
        </a>


        <!-- ============================NavBar======================== -->

        {% block content %}

        {% endblock %}

        {% block script %}

        {% endblock %}
    </body>
</html>
